.contact-page {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
}

.contact-header {
    margin-bottom: 20px;
}

.contact-main {
    margin-top: 30px;
    text-align: left;
}

.contact-title {
    margin-top: 90px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    line-height: 1.1;
    font-weight: 850;
}



.form-section-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 10px
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-group input,
.form-group textarea {
    width: 85%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: border-color 0.3s ease;
    font-size: 14px;
    padding-left: 20px ;
    margin: 0 auto;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #f56c26; /* Color del borde al enfocar */
    box-shadow: 0 0 5px rgba(245, 108, 38, 0.5);
}

textarea {
    resize:vertical;
    height: 15vw;
}

.form-note {
    font-size: 0.7rem;
    color: #666;
    margin-top: -10px;
    margin-bottom: 15px;
}

.form-submit button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
    width: 200px;
    text-transform: uppercase;
}

.form-submit button:hover {
    background-color: #d8571d;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #333; /* Cambia el color aquí para hacerlo más tenue */
    font-size: 0.9rem; /* Ajusta el tamaño si es necesario */
    opacity: 0.3; /* Controla la opacidad del placeholder */
}
